body
{
    height: 100%;
    width: 100%;
    margin: 0px 0 px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.bg
{
background-image: url("https://images.unsplash.com/photo-1477093782505-e10aaeb27c6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}




.head
{
    padding-top: 3em;
    height: 10vh;
    min-height: 100px;
    background: url('https://images.unsplash.com/photo-1553866038-1356de275100?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80') center 100% no-repeat fixed;
    background-size: cover;
    text-align: bottom, left;
    font-size: 50pt;
}

#nav-wrap
{
    float: left;
    background-color: red;
    width: 100vw;
}

.nav-menu
{
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
}

.nav-menu a
{
    font-size: 20px;
    text-decoration: none;
    list-style-type: none;
    color: black;
    padding: 12px 16px;
    display: inline-block;
}

.nav-menu a:hover
{
    background-color: rgb(138, 14, 121);
    color: red;
}


.sidewrap
{
    margin: 5em 5em 0em 1em;
    padding: 1em 1em 1em 1em;
    float: right;
    display: block;
    width: 300px;
    background-color: red;
    height: auto;
    background: url("https://images.unsplash.com/photo-1511306162219-1c5a469ab86c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80") center 100% no-repeat;
    color: purple;

}

.sideart
{
    font-size: 25px; 
    text-shadow: 0px 1px 0px rgb(148, 145, 145);
}

#middel
{
  margin: 1em 0em 20em 5em;
  padding: 0em 0em 0em 2em;
  background-color:transparent;
  border-radius: 2em;
  display: inline-block;
  width: 1000px;
  height: 80vh;
  position: relative;
}

section div.pannel
{
    float: left;
    position: relative;
    padding: 1em;
    margin: 0 1em 2em 1em;
    width: 250px;
    height: 450px;
    background: url('https://images.unsplash.com/photo-1527049979667-990f1d0d8e7f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60') center 100% no-repeat;
    border-radius: 2em;
    border-color: rgb(141, 137, 137);
    box-shadow: 1px 1px 0 0 white;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

.button
{
    -webkit-transition-duration: 0.4s;
    border-radius: 4px;
    border-color: red;
    background-color: transparent;
    color: white;
}

.button:hover
{
    background-color: purple;

}
img
{
    width: 250px;
    height: 250px;
    object-fit: none;
}

#flex-fit
{
    object-fit: scale-down;
}




.clear
{
    clear: both;
    font-size: 1%;
}

.foot
{
    margin: 0px 0px 0px 0px;   
    text-align: center;
    background-color: black;
    width: 100vw;
    height: 50px;
}

.foot a 
{
    border: 0px 3px 0 3px  white;
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px 14px;
}

.foot a:hover
{
    color: red;
}
